rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Allow authenticated users to read, write, and delete files.
    match /{allPaths=**} {
      allow read, write, delete: if request.auth != null;
    }
  }
}
